
*{
    margin: 0;
    padding: 0;
}
.header{
     background:rgb(184, 219, 232);
     border-bottom: 1px solid gray;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 5px 16px;
     height: 50px;
     border-radius: 5px;
}

.header-menu{
    display: flex;
    align-items: center;
    
}

.header-menu p{
    margin-left:16px;
    padding: 8px;
}

.content-desc{
    width: 100%;
    height: 500px;
    /* background: red; */
    display: flex;
}

.content-desc .left{
    width: 100%;
    height: 350px;
    background-color: azure;
    padding: 50px;
    font-size: larger;
    font-style:italic;

}

.content-desc .right{
    width: 50%;
    height: inherit;
    /* background: yellow; */ 
    display: flex;
    justify-content:right;
    align-items: center;
    padding: 24px;  
    
}


.job-lists{
    /* background: violet; */
    width:80%;
    height: max -content;
    padding: 10px; 
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    row-gap: 24px;

    
}

.card{
    width: calc(100%);
    height: 250px;
    background-color:rgb(178, 225, 225);
    padding: 12px;
    border: 1px solid gainsboro;
    border-radius: 10px ;
    font-size:x-large;

   
}
.Service-lists{
    /* background: violet; */
    width:80%;
    height: max -content;
    padding: 50px; 
    margin-top: 64px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    row-gap: 24px;

    
} 

.cards{
    width: calc(100%);
    height: 250px;
    background-color:rgb(178, 225, 225);
    padding: 12px;
    border: 1px solid gainsboro;
    border-radius: 10px ;
    font-size:x-large;

   
}
